.content-wrap {
    padding: 0px 0px 80px 0px;
}

/*Buttons*/

.btn-block {
    display: inline;
}

.btn-danger {
    background-color: #F55433;
    border-color: #f5f5f5;
}

/*Header (nav bar)*/



/*Phone*/

#section-phone {
    margin-bottom: 0px;
    padding: 20px 0px;
    text-align: center;
}

#section-phone h2,
#section-phone-2 h2 {
    line-height: 1.0;
    font-weight: 400;
}

#section-phone>div>div:last-child {
    margin-top: 20px;
}

.phone-number {
    font-family: 'Lato';
}

.section-phone__left {
    text-align: right;
}

.section-phone__left h5,
.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__left h5 {
    font-weight: 200;
}

.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__right {
    margin-top: 15px;
    text-align: left;
}

.section-phone__right a {
    margin: 10px 16px;
}

#section-phone-2 {
    padding: 30px;
}