body {
    font-family: 'Roboto Condensed';
}

.content-wrap {
    padding: 0px 0px 80px 0px;
}

/*Buttons*/

.btn {
    padding: 12px 30px;
    background: #D56724;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    color: #FFFFFF;
}

.btn-block {
    display: inline;
}

.btn-danger {
    background-color: #d3672f;
    border-color: #f5f5f5;
    text-transform: uppercase;
}

.btn-inverted {
    background-color: #EEEFE5;
    border-color: #a52a2a;
    color: #a52a2a;
}

/*Header (nav bar)*/

#header {
    height: 130px;
}
#primary-menu ul li>a {
    padding-top: 55px;
    padding-bottom: 35px;
}
#primary-menu ul li:nth-child(1)>a {
    color: #d3672f;
}

#primary-menu ul li:nth-child(2)>a {
    color: #a52a2a;
}

#primary-menu ul li:nth-child(3)>a {
    color: #778473;
}

#header.full-header #logo {
    margin-right: 0px;
}
#logo {
    padding: 10px 20px;
}

@media (max-width: 991px) {
    #logo {
        padding: 10px !important;
        height: auto;

    }
    #primary-menu-trigger {
        top:40px;
    }
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 28px;
    padding-bottom: 19px;
}
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap {
    height: 80px;
}
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 60px;
}

#header.full-header #primary-menu > ul {
     border-right: none;
}

#header.full-header #logo {
     border-right: none;
}

/*Phone*/

#section-phone,
#section-phone-2 {
    margin-bottom: 0px;
    padding: 20px 0px;
    text-align: center;
    background-color: #778473;
}

#section-phone>div>div:last-child {
    margin-top: 20px;
}

#section-phone .phone-number,
#section-phone-2 .phone-number {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.0;
}

#section-phone .phone-number__subtitle,
#section-phone-2 .phone-number__subtitle {
    font-size: 18px;
    color: #FFFFFF;
}

#section-phone .section-phone__additional-info {
    font-family: RobotoCondensed-Regular;
    font-size: 21px;
    color: #FFFFFF;
}

.section-phone__left {
    text-align: right;
}

.section-phone__left h5,
.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__left h5 {
    font-weight: 200;
}

.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__right {
    margin-top: 25px;
    text-align: left;
}

.section-phone__right a {
    margin: 10px 16px;
}

#section-phone-2 {
    padding: 30px;
}


/*Team*/

#section-team {
    background-color: #EEEFE5;
}

#section-team .row img {
    min-height: 500px;
}

/*specials*/

#section-specials {
    background-image: url('images/specials-parallax.jpg');
}

#section-specials .heading h2,
#section-specials .heading h3,
#section-specials .row h1,
#section-specials .row h4 {
    color: white;
}


#section-specials .row h6,
#section-specials .row p {
    color: white;
}

/*Reviews*/

/*Insurance*/

#section-insurance {
    background-image: url('images/membership-parallax.jpg');
}

#section-insurance a {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px 40px;
}

#section-insurance h1,
#section-insurance h4,
#section-insurance h5,
#section-insurance a {
    color: white;
}

#section-insurance h1 {
    text-transform: uppercase;
    font-size: 45px;
}

#section-insurance h4:nth-child(3) {
    text-transform: uppercase;
}

#section-insurance h5 {
    margin-bottom: 7px;
}

#section-insurance h5:nth-last-child(2) {
    margin-bottom: 60px;
}

#section-insurance .row {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*Forms*/

#section-forms .row>div {
    text-align: center;
}

/*Contact*/

#section-location__map {
    background-image: url('images/map.png');
    min-height: 500px;
    background-size: cover;
}

/*Marquee*/

.swiper-container .headline {
    font-family: 'Great Vibes';
    font-size: 90px;
    color: #F3F6F9;
    letter-spacing: 0px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.80);
    font-weight: 400;
}

.swiper-container .headline-subtitle {
    font-family: 'Roboto Condensed';
    font-size: 40px;
    color: #F3F6F9;
    letter-spacing: -0.42px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.80);
}

.slider-caption.slider-caption-center {
    max-width: 850px;
}

#content .heading-one h2 {
    font-family: 'Georgia';
    font-size: 40px;
    color: #813107;
    letter-spacing: -0.56px;
     font-weight: 400;
}