/*body {*/
    /*font-family: 'Roboto Condensed';*/
/*}*/

.content-wrap {
    padding: 0px 0px 80px 0px;
}

/*Buttons*/

.btn {
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.btn-block {
    display: inline;
}

.btn-danger {
    background-color: #d3672f;
    border-color: #f5f5f5;
    text-transform: uppercase;
}

.btn-inverted {
    background-color: #EEEFE5;
    border-color: #a52a2a;
    color: #a52a2a;
}

/*Header (nav bar)*/

#header {
    height: 130px;
}
#primary-menu ul li>a {
    padding-top: 55px;
    padding-bottom: 35px;
}
#primary-menu ul li:nth-child(1)>a {
    color: #d3672f;
}

#primary-menu ul li:nth-child(2)>a {
    color: #a52a2a;
}

#primary-menu ul li:nth-child(3)>a {
    color: #778473;
}

#header.full-header #logo {
    margin-right: 0px;
}
#logo {
    padding: 10px 20px;
}

@media (max-width: 991px) {
    #logo {
        padding: 10px !important;
        height: auto;

    }
    #primary-menu-trigger {
        top:40px;
    }
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 28px;
    padding-bottom: 19px;
}
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap {
    height: 80px;
}
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 60px;
}

#header.full-header #primary-menu > ul {
     border-right: none;
}

#header.full-header #logo {
     border-right: none;
}

/*Phone*/

#section-phone,
#section-phone-2 {
    margin-bottom: 0px;
    padding: 20px 0px;
    text-align: center;
    background-color: #778473;
}

#section-phone h2,
#section-phone-2 h2 {
    line-height: 1.0;
    font-weight: 400;
}

#section-phone>div>div:last-child {
    margin-top: 20px;
}

.phone-number {
    font-family: 'Lato';
}

.section-phone__left {
    text-align: right;
}

.section-phone__left h5,
.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__left h5 {
    font-weight: 200;
}

.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__right {
    margin-top: 15px;
    text-align: left;
}

.section-phone__right a {
    margin: 10px 16px;
}

#section-phone-2 {
    padding: 30px;
}